.nav-position {
    height: 55px;
    width: 100vw;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.margin-space {
    margin-right: 10px;
}

.bg {
    background-color: darkseagreen;
}

#Home-Section {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 55px);
    background-image: url("/assets/images/super-market.jpg");
    background-size: cover;
    background-position: center;
}

.nav-align {
    align-items: normal;
    padding: 0;
}